:root {
  --color-dark-bg: #121212;
  --color-dark-fg: #ffffff;
  --color-dark-link: #00ff95;
  --font: "Courier New", Courier, monospace;
}

body {
  /* For now: dark-mode only, centered content */
  background-color: var(--color-dark-bg);
  color: var(--color-dark-fg);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*all body elements will be maxxed at 60ch*/
body > * {
  max-width: 60ch;
  width: 100%;
}

/* all pages use nav ul li a as the main link style */
/* we do not want points on the list items */
ul {
  list-style: none;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 1rem 0;
}
/* We do not want underline on links until we hover */
a {
  text-decoration: none;
  color: var(--color-dark-link);
}

/* We want to change the color of the link on hover */
a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}
textarea,
input {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-fg);
  border: none;
  padding: 1ch 0;
  font-family: var(--font);
}

input {
  border-bottom: 1px solid var(--color-dark-fg);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

textarea {
  border-top: 1px solid var(--color-dark-fg);
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-dark-link);
}

textarea:focus {
  outline: none;
  border-top: 1px solid var(--color-dark-link);
  border-bottom: 1px solid var(--color-dark-link);
}

button {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-link);
  border: 1px solid var(--color-dark-link);
  padding: 1ch 2ch;
  font-family: var(--font);
}
button:focus,
button:hover {
  background-color: var(--color-dark-link);
  color: var(--color-dark-bg);
  font-weight: 900;
  cursor: pointer;
}
