body {
    /* For now: dark-mode only, centered content */
    background-color: #121212;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*all body elements will be maxxed at 60ch*/
body > * {
    max-width: 60ch;
    width: 100%;
}

/* all pages use nav ul li a as the main link style */
/* we do not want points on the list items */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* We do not want underline on links until we hover */
a {
    text-decoration: none;
    color: #00ff95;
    
}

/* We want to change the color of the link on hover */
a:hover {
    
    text-decoration: underline;
}